<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saren.addr_list">
	<select id="selectAll" resultType="addr_listVO">
			SELECT *
			FROM ADDR_LIST 
	</select>

	<select id="selectByMember_Id"  parameterType="String" resultType="addr_listVO">
			SELECT *
			FROM ADDR_LIST
			WHERE member_id = #{member_id}
	</select>
	<insert id="addressInsert" parameterType="addr_listVO">
		INSERT
		INTO ADDR_LIST(addr_num, member_id, zipcode, main_address, detail_address,
					is_master_addr, sub_address)
		VALUES(seq_addr_num.nextval, #{member_id}, #{zipcode}, #{main_address}, #{detail_address},
			   #{is_master_addr}, #{sub_address})
	</insert>
	<update id="addressUpdate" parameterType="com.team4.shoppingmall.addr_list.Addr_ListDTO">
		UPDATE ADDR_LIST
		SET
		addr_num = #{addr_num}, member_id = #{member_id}, 
		zipcode = #{zipcode},main_address = #{main_address}, detail_address = #{detail_address}, 
		is_master_addr = #{is_master_addr},
		sub_address = #{sub_address}
		WHERE member_id = #{member_id}
	</update>
	<delete id="addressDelete" parameterType="int">
		DELETE
		FROM ADDR_LIST
		WHERE addr_num = #{addr_num}
	</delete>
	
</mapper>