<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.admin">

	<select id="loginChk" parameterType="string" resultType="adminVO">
		SELECT * FROM admin_info where admin_id = #{admin_id}
	</select>
	
	<select id="findById"
		parameterType="map"
		resultType="string">
		SELECT admin_id FROM admin_info
		where 
		admin_email = #{admin_email}
		and admin_name = #{admin_name}
	</select>

	<select id="findByPw" parameterType="map"
		resultType="string">
		SELECT admin_pw
		FROM admin_info
		where
		admin_id = #{admin_id}
		and admin_name = #{admin_name}
		and admin_phone = #{admin_phone}
	</select>
	
	<update id="updateByPw" parameterType="map">
		update admin_info 
		set admin_pw = #{new_admin_pw} 
		where admin_id = #{admin_id}
	</update>
</mapper>
