<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.admin">

	<select id="loginChk" parameterType="string" resultType="adminVO">
		SELECT * FROM admin_info where admin_id = #{admin_id}
	</select>
	
	<select id="findById"
		parameterType="com.team4.shoppingmall.admin.AdminDTO"
		resultType="adminVO">
		SELECT admin_id FROM admin_info
		where 1=1
		<if test="admin_email != 0 and admin_email != null">
			and admin_email = #{admin_email}
		</if>
		<if test="admin_name != 'all' and admin_name != null">
			and admin_name = #{admin_name}
		</if>
	</select>

	<select id="findByPw" resultType="adminVO">
		SELECT admin_pw
		FROM admin_info
		where 1=1
		<if test="admin_id != 0 and admin_id != null">
			and admin_id = #{admin_id}
		</if>
		<if test="admin_name != 'all' and admin_name != null">
			and admin_name = #{admin_name}
		</if>
		<if test="admin_phone != 'all' and admin_phone != null">
			and admin_phone = #{admin_phone}
		</if>
	</select>
</mapper>
