<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.buyer_inq">

	<!-- 상품ID의 전체 문의 목록 조회 -->
	<select id="selectByProdId" parameterType="string"
		resultType="buyer_inqVO">
		SELECT * 
		FROM BUYER_INQ 
		WHERE prod_id = #{prod_id}
	</select>

	<select id="selectByInqId" parameterType="int"
		resultType="buyer_inqVO">
		SELECT * 
		FROM BUYER_INQ 
		WHERE buyer_inq_id = #{buyer_inq_id}
	</select>
	
	<!-- 판매자 : 리스트에서 답변 작성을 클릭했을 때 팝업창에 띄워질 데이터들을 가져오기 -->
	<select id="selectByInqIdFORseller" parameterType="int" resultType="buyer_inqDetailVO">
		SELECT 
    		B.buyer_inq_id,
    		B.member_id,
    		M.member_name,
    		M.phone,
    		B.buyer_inq_title,
    		B.buyer_inq_content,
    		B.buyer_reply
		FROM 
    		BUYER_INQ B
		JOIN 
    		MEMBER M ON B.member_id = M.member_id
		WHERE 
    		B.buyer_inq_id = #{buyer_inq_id}
	</select>
	
	<select id="selectByMemberId" parameterType="string"
		resultType="buyer_inqVO">
		SELECT *
		FROM BUYER_INQ 
		WHERE member_id = #{member_id}
	</select>

	<select id="selectAll" resultType="buyer_inqVO">
		SELECT *
		FROM BUYER_INQ
	</select>
	
	<!-- 판매자 : 판매자의 판매 상품들의 ID를 전부 조회하여, 해당 상품 ID를 가지고 있는 구매자 문의 항목들의 정보를 가져오기-->
	<select id="selectInqList" parameterType="string" resultType="buyer_inqVO">
		SELECT buyer_inq_id, buyer_inq_title, buyer_inq_date, buyer_reply
		FROM BUYER_INQ
		WHERE prod_id IN(
			SELECT prod_id
			FROM PROD
			WHERE member_id = #{member_id}
		)
	</select>

	<!-- 구매자 : 상품 문의, buyer_inq_id 시퀀스 사용함 -->
	<insert id="buyer_inqInsert" parameterType="map">
		INSERT 
		INTO BUYER_INQ(buyer_inq_id, 
					   buyer_inq_title, 
					   buyer_inq_content, 
					   buyer_inq_date, 
					   buyer_reply, 
					   member_id,
					   prod_id, 
					   buyer_reply_date) 
		VALUES(
			buyer_inq_sequence.nextval, 
			#{buyer_inq_title}, 
			#{buyer_inq_content},  
		    SYSDATE, 
		    NULL, 
		    #{member_id},
		    #{prod_id}, 
		    NULL
		    )
	</insert>

	<!-- 판매자 : 구매자의 상품 문의사항에 대한 답변 작성-->
	<update id="buyer_inqUpdate" parameterType="buyer_inqVO">
		UPDATE BUYER_INQ
		SET buyer_reply = #{buyer_reply}, buyer_reply_date = #{buyer_reply_date}
		WHERE buyer_inq_id = #{buyer_inq_id}
	</update>

	<!-- 구매자(수동), 판매자(자동) : 상품 문의사항 삭제 -->
	<delete id="buyer_inqDelete" parameterType="int">
		DELETE *
		FROM BUYER_INQ
		WHERE buyer_inq_id = #{buyer_inq_id}
	</delete>
	
</mapper>
