<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.cart">

	<select id="selectSellStockByMemberId" parameterType="string"
		resultType="cartVO">
		SELECT *
		FROM CART
		WHERE "member_id" = #{member_id} and "sellstock_id" IS NOT NULL
	</select>
	
	<select id="selectRentStockByMemberId" parameterType="string"
		resultType="cartVO">
		SELECT *
		FROM CART
		WHERE "member_id" = #{member_id} and "rentstock_id" IS NOT NULL
	</select>

	<select id="selectAllStockByMemberId" parameterType="string"
		resultType="cartVO">
		SELECT *
		FROM CART
		WHERE "member_id" = #{member_id}
	</select>
	
	<select id="selectByCartId" parameterType="int"
		resultType="cartVO">
		SELECT * 
		FROM CART 
		WHERE "cart_id" = #{cart_id}
	</select>

	<select id="selectAll" resultType="cartVO">
		SELECT *
		FROM CART
	</select>

	<insert id="cartInsert" parameterType="cartVO">
		INSERT 
		INTO CART("cart_id", "member_id", "sellstock_id", "rentstock_id", 
				  "cart_amount") 
		VALUES(#{cart_id}, #{member_id}, #{sellstock_id}, #{rentstock_id}, 
			   #{cart_amount})
	</insert>

	<update id="cartUpdate" parameterType="cartVO">
		UPDATE CART
		SET
		"member_id" = #{member_id}, "sellstock_id" = #{sellstock_id}, 
		"rentstock_id" = #{rentstock_id}, "cart_amount" = #{cart_amount}
		WHERE "cart_id" = #{cart_id}
	</update>

	<delete id="cartDelete" parameterType="int">
		DELETE
		FROM CART
		WHERE "cart_id" = #{cart_id}
	</delete>
	
</mapper>
