<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.category">

	<select id="selectById" parameterType="int"
		resultType="categoryVO">
		SELECT *
		FROM CATEGORY
		WHERE "category_id" = #{category_id}
	</select>

	<select id="selectByParentId" parameterType="int"
		resultType="categoryVO">
		SELECT *
		FROM CATEGORY
		WHERE "parent_category_id" = #{parent_category_id}
	</select>

	<select id="selectAll" resultType="categoryVO">
		SELECT *
		FROM CATEGORY
	</select>

	<insert id="categoryInsert" parameterType="categoryVO">
		INSERT 
		INTO CATEGORY("category_id", "category_name", 
					  "category_depth", "parent_category_id") 
		VALUES(#{category_id}, #{category_name}, 
			   #{category_depth}, #{parent_category_id})
	</insert>

	<update id="categoryUpdate" parameterType="categoryVO">
		UPDATE CATEGORY
		SET
		"category_name" = #{category_name}, 
		"category_depth" = #{category_depth}, 
		"parent_category_id" = #{parent_category_id}
		WHERE "category_id" = #{category_id}
	</update>

	<delete id="categoryDelete" parameterType="int">
		DELETE
		FROM CATEGORY
		WHERE "category_id" = #{category_id}
	</delete>
	
</mapper>
