<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.category">

	<!-- 상품의 카테고리명 조회  -->
	<select id="productCategoryByProdId" parameterType="string"
			resultType="categoryVO">
		SELECT 
		     c1.category_name AS currentCategoryName,
       		 c2.category_name AS parentCategoryName
		FROM 
		    category c1
		LEFT JOIN 
		    category c2 ON c1.parent_category_id = c2.category_id
		WHERE 
		    c1.category_id = (
		        SELECT p.category_id 
		        FROM prod p 
		        WHERE p.prod_id = #{prod_id}
		 )
	</select>
	<select id="selectById" parameterType="int"
		resultType="categoryVO">
		SELECT *
		FROM CATEGORY
		WHERE category_id = #{category_id}
	</select>

	<select id="selectByParentId" parameterType="int"
		resultType="categoryVO">
		SELECT *
		FROM CATEGORY
		WHERE parent_category_id = #{parent_category_id}
	</select>

	<select id="selectAll" resultType="categoryVO">
		SELECT *
		FROM CATEGORY
	</select>

	<insert id="categoryInsert" parameterType="categoryVO">
		INSERT 

		INTO CATEGORY(category_id, category_name, 
					  category_depth, parent_category_id, is_lowest) 
		VALUES(#{category_id}, #{category_name}, 
			   #{category_depth}, #{parent_category_id}, #{is_lowest})
	</insert>

	<update id="categoryUpdate" parameterType="categoryVO">
		UPDATE CATEGORY
		SET
		category_name = #{category_name}, 
		category_depth = #{category_depth}, 
		parent_category_id = #{parent_category_id}
		WHERE category_id = #{category_id}
	</update>

	<delete id="categoryDelete" parameterType="int">
		DELETE
		FROM CATEGORY
		WHERE category_id = #{category_id}
	</delete>
	
	<select id="traceCurCtg" parameterType="map" resultType="categoryVO">
		SELECT DISTINCT *
		FROM
		(SELECT *
		FROM CATEGORY
		WHERE CATEGORY_ID = #{category_id1}
		UNION
		SELECT *
		FROM CATEGORY
		WHERE CATEGORY_ID = #{category_id2}
		UNION
		SELECT *
		FROM CATEGORY
		WHERE CATEGORY_ID = #{category_id3}
		UNION
		SELECT *
		FROM CATEGORY
		WHERE CATEGORY_ID = #{category_id4})
		ORDER BY CATEGORY_ID
	</select>
	
	<select id = "firstDepthCategoryList" resultType="categoryVO">
		SELECT *
		FROM CATEGORY
		WHERE category_depth = 1
	</select>
	
	
	<select id = "categoryListBydepth" parameterType="categoryVO" resultType="categoryVO">
		SELECT *
		FROM CATEGORY
		WHERE category_depth = #{category_depth} AND parent_category_id = #{parent_category_id}
	</select>
	
</mapper>

