<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.coupon">

	<!-- 쿠폰상세 -->
	<select id="couponSelectById" parameterType="string" resultType="com.team4.shoppingmall.coupon.CouponDTO">
		SELECT *
		FROM COUPON
		WHERE "coupon_id" = #{coupon_id}
	</select>

	<!-- 쿠폰목록 -->
	<select id="selectAll" resultType="com.team4.shoppingmall.coupon.CouponDTO">
		SELECT *
		FROM COUPON
	</select>
	
	<!-- 쿠폰사용 -->
 	<update id="couponUse" parameterType="com.team4.shoppingmall.coupon.CouponDTO">
		UPDATE COUPON
		SET
		"coupon_state" = #{coupon_state}
		WHERE "coupon_id" = #{coupon_id}
	</update>


</mapper>
