<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.orderprod">

	<!-- 주문상세 -->
	<select id="selectById" parameterType="com.team4.shoppingmall.order_prod.OrderProdDTO">
		resultType="orderprodVO">
		SELECT *
		FROM ORDER_PROD
		WHERE order_id = #{order_id}
	</select>

	<!-- 주문목록 -->
	<select id="selectAll" resultType="com.team4.shoppingmall.order_prod.OrderProdDTO">
		SELECT *
		FROM ORDER_PROD
	</select>

	<!-- 주문생성 -->
	<insert id="orderprodInsert" parameterType="com.team4.shoppingmall.order_prod.OrderProdDTO">
		INSERT
		INTO ORDER_PROD(order_id, order_date, member_id, addr_num, total_price)
		VALUES(#{order_id}, #{order_date}, #{member_id}, #{addr_num}, #{total_price})
	</insert>

	<!-- 주문수정 -->
	<update id="orderprodUpdate" parameterType="com.team4.shoppingmall.order_prod.OrderProdDTO">
		UPDATE ORDER_PROD
		SET
		order_date=#{order_date},
		addr_num = #{addr_num},
		total_price = #{total_price}
		WHERE order_id = #{order_id}
	</update>
	
</mapper>
