<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.prod_image">

	<!-- 메인 이미지 조회 -->
	<select id="prodMainImgInfoByProdId" parameterType="string"
		resultType="map">
		SELECT PM.img_id , PM.prod_id, PM.img_type
		FROM PROD_IMAGE PM
		RIGHT JOIN PROD P ON(P.prod_id = PM.prod_id)
		WHERE P.prod_id  = #{prod_id} 
		AND PM.img_type = 0
	</select>
	<!-- 서브 이미지 조회 -->
	<select id="prodSubImgInfoByProdId" parameterType="string"
		resultType="map">
		SELECT PM.img_id , PM.prod_id, PM.img_type
		FROM PROD_IMAGE PM
		RIGHT JOIN PROD P ON(P.prod_id = PM.prod_id)
		WHERE P.prod_id  = #{prod_id} 
		AND PM.img_type = 1
	</select>
	<select id="selectByImageId" parameterType="int"
		resultType="prod_imageVO">
		SELECT *
		FROM PROD_IMAGE
		WHERE img_id = #{img_id}
	</select>
	
	<select id="selectByProdId" parameterType="int"
		resultType="prod_imageVO">
		SELECT *
		FROM PROD_IMAGE 
		WHERE prod_id = #{prod_id}
		ORDER BY prod_id ASC
	</select>
	
	<select id="findAllImgsByProdID" parameterType="string" resultType="prod_imageVO">
		SELECT *
		FROM PROD_IMAGE 
		WHERE prod_id = #{prod_id}
		ORDER BY prod_id ASC
	</select>
	
	<select id="findAllImgFileNameByProdID" parameterType="string" resultType="string">
		SELECT IMG_ID
		FROM PROD_IMAGE 
		WHERE prod_id = #{prod_id}
		ORDER BY prod_id ASC
	</select>
	
	<select id="findMainImgFileNameByProdID" parameterType="prod_imageVO" resultType="string">
		SELECT IMG_ID
		FROM PROD_IMAGE 
		WHERE prod_id = #{prod_id} AND img_type=#{img_type}
		ORDER BY prod_id ASC
	</select>
	
	<select id="findDescImgFileNameByProdID" parameterType="prod_imageVO" resultType="string">
		SELECT IMG_ID
		FROM PROD_IMAGE 
		WHERE prod_id = #{prod_id} AND img_type=#{img_type}
		ORDER BY prod_id ASC
	</select>

	<select id="selectAll" resultType="prod_imageVO">
		SELECT *
		FROM PROD_IMAGE
	</select>

	<insert id="prod_imageInsert" parameterType="prod_imageVO">
		INSERT
		INTO PROD_IMAGE(img_id, prod_id, img_type) 
		VALUES(#{img_id}, #{prod_id}, #{img_type})
	</insert>

	<update id="prod_imageUpdate" parameterType="prod_imageVO">
		UPDATE PROD_IMAGE
		SET img_id = #{img_id}, img_type=#{img_type}
		WHERE prod_id = #{prod_id}
	</update>

	<delete id="prod_imageDelete" parameterType="string">
		DELETE
		FROM PROD_IMAGE
		WHERE img_id = #{img_id}
	</delete>
	
</mapper>
