<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.prod_option">

	<select id="selectByOptionId" parameterType="int"
		resultType="prod_optionVO">
		SELECT * 
		FROM PROD_OPTION 
		WHERE opt_id = #{opt_id}
	</select>
	
	<select id="selectByProdId" parameterType="int"
		resultType="prod_optionVO">
		SELECT * 
		FROM PROD_OPTION 
		WHERE prod_id = #{prod_id}
	</select>
	
	<select id="findMaxOptId" resultType="integer">
		SELECT
    		MAX(opt_id) AS max_opt_id
		FROM
    		PROD_OPTION
	</select>

	<select id="selectAll" resultType="prod_optionVO">
		SELECT *
		FROM PROD_OPTION
	</select>

	<insert id="prod_optionInsert" parameterType="prod_optionVO">
		INSERT 
		INTO PROD_OPTION(opt_id, opt_name, opt_value, prod_id) 
		VALUES(#{opt_id}, #{opt_name}, #{opt_value}, #{prod_id})
	</insert>

	<update id="prod_optionUpdate" parameterType="prod_optionVO">
		UPDATE PROD_OPTION
		SET
		opt_name = #{opt_name}, opt_value = #{opt_value}, 
		prod_id = #{prod_id}
		WHERE opt_id = #{opt_id}
	</update>

	<delete id="prod_optionDelete" parameterType="int">
		DELETE
		FROM PROD_OPTION
		WHERE opt_id = #{opt_id}
	</delete>
	
</mapper>
