<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.rent">

	<!-- 대여상세 -->
	<select id="selectById" parameterType="string" resultType="com.team4.shoppingmall.rent.RentDTO">
		SELECT *
		FROM RENT
		WHERE "member_id" = #{member_id}
	</select>
	
	<select id="searchRentId" resultType="int">
		select last_number-1 from user_sequences where sequence_name = 'RENT_SEQUENCE'
	</select>

	<!-- 대여목록 -->
	<select id="selectAll" resultType="com.team4.shoppingmall.rent.RentDTO">
		SELECT *
		FROM RENT
	</select>

	<!-- 대여하기 (주문상태 칼럼 삭제) -->
	<insert id="rentInsert" parameterType="com.team4.shoppingmall.rent.RentDTO">
		INSERT
		INTO RENT(rental_code, rent_start_date, rent_end_date, member_id, total_rent_price)
		VALUES(
			rent_sequence.nextval, 
			#{rent_start_date}, 
			#{rent_end_date}, 
			#{member_id}, 
			#{total_rent_price}
		)
	</insert>

	<!-- 대여상태 수정 -->
	<update id="rentUpdate" parameterType="com.team4.shoppingmall.rent.RentDTO">
		UPDATE RENT
		SET
		"rent_state" = #{rent_state}
		WHERE "rental_code" = #{rental_code}
	</update> 
	
</mapper>
