<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.rent_detail">

	<!-- 대여재고ID에 해당하는 대여ID 찾기 
	<select id="selectByRentStockId" parameterType="string"
			resultType="rent_detailVO">
		SELECT RENTAL_CODE
		FROM RENT_DETAIL 
		WHERE r_stock_id= #{r_stock_id}
	</select>
 	-->
 	
	<!-- 대여주문상품 브랜드,이름 -->
	<select id="getRentOrderProdBrand" parameterType="int" resultType="map">
		SELECT DISTINCT M.brand, p.prod_name
		FROM MEMBER M
		JOIN PROD P ON M.member_id = P.member_id
		JOIN RENT_PROD_STOCK RPS ON P.prod_id = RPS.prod_id
		JOIN RENT_DETAIL RD ON RPS.r_stock_id = RD.r_stock_id
		WHERE RD.RENTAL_CODE = #{rental_code}
	</select>
	
	<!-- 대여상세 상세 -->
	<select id="selectById" parameterType="int"
		resultType="rent_detailVO">
		SELECT *
		FROM RENT_DETAIL
		WHERE rentdetail_id = #{rentdetail_id}
	</select>

	<!-- 대여상세 목록 -->
	<select id="selectAll" resultType="rent_detailVO">
		SELECT *
		FROM RENT_DETAIL
	</select>
	
	<!-- 대여ID 기준으로 대여 상세 목록 -->
	<select id="selectByRental_code" parameterType="int" resultType="rent_detailVO">
		SELECT *
		FROM RENT_DETAIL
		WHERE rental_code=#{rental_code}
	</select>

	<!-- 판매자ID 단위로 대여 상세 데이터 목록 가져오기 -->
	<select id="selectBySellerID" parameterType="string"
		resultType="rent_detailVO">
		SELECT rd.*
		FROM RENT_DETAIL rd
		JOIN RENT_PROD_STOCK rps ON
		rd.r_stock_id = rps.r_stock_id
		JOIN PROD p ON rps.prod_id = p.prod_id
		WHERE p.member_id = #{member_id}
	</select>
  
	<!-- 대여상세 생성 (시퀀스 사용, 주문상태 칼럼 추가) -->
	<insert id="rentDetailInsert" parameterType="com.team4.shoppingmall.rent_detail.RentDetailDTO">
		INSERT
		INTO RENT_DETAIL(rentdetail_id, rent_product_price, rent_num, r_stock_id, rental_code, rent_state)
		VALUES(
			rent_detail_sequence.nextval, 
			#{rent_product_price}, 
			#{rent_num}, 
			#{r_stock_id}, 
			#{rental_code},
			'대여신청완료'
		)
	</insert>
	
	<!-- 장바구니에 여러 개 들어있을 때 대여상세 생성 (시퀀스 사용, 주문상태 칼럼 추가) -->
	<insert id="rentDetailforCartInsert" parameterType="com.team4.shoppingmall.rent_detail.RentDetailDTO">
		INSERT
		INTO RENT_DETAIL(rentdetail_id, rent_product_price, rent_num, r_stock_id, rental_code, rent_state)
		VALUES(
			#{rentdetail_id}, 
			#{rent_product_price}, 
			#{rent_num}, 
			#{r_stock_id}, 
			#{rental_code},
			'대여신청완료'
		)
	</insert>

	<!-- 대여상세 수정 -->
	<update id="rentDetailUpdate" parameterType="rent_detailVO">
		UPDATE RENT_DETAIL
		SET
		rentdetail_id = #{rentdetail_id},
		rent_product_price = #{rent_product_price},
		rent_num = #{rent_num},
		rental_code = #{rental_code},
		r_stock_id = #{r_stock_id},
		rent_state = #{rent_state}
		WHERE rentdetail_id = #{rentdetail_id}
	</update>

	<update id="rentDetailStatusUpdate"
		parameterType="order_detailVO">
		UPDATE RENT_DETAIL
		SET rent_state = #{rent_state}
		WHERE
		rentdetail_id = #{rentdetail_id}
	</update>

	<delete id="rentDetailDelete" parameterType="int">
		DELETE
		FROM
		RENT_DETAIL
		WHERE rentdetail_id = #{rentdetail_id}
	</delete>
	
	<delete id="rentDetailDelByRentCode" parameterType="int">
		DELETE
		FROM RENT_DETAIL
		WHERE rental_code = #{rental_code}
	</delete>
	
	<select id = "findMaxRentDetailID" resultType="int">
		SELECT MAX(rentdetail_id) AS max_rentdetail_id
		FROM RENT_DETAIL
	</select>
</mapper>