<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.reviews">

	<!-- 주문한 상품의 리뷰정보 (resultType 수정하기) -->
	<select id="selectAllProductReviewByProdId" parameterType="string"
		resultType="reviewsVO">
	    SELECT 
		    r.REVIEW_ID, 
		    r.RATE, 
		    r.REVIEW_DATE, 
		    r.REVIEW_IMG, 
		    r.REVIEW_CONTENT, 
		    od.ORDERDETAIL_ID, 
		    od.STOCK_ID,
		    o.ORDER_ID,
		    o.ORDER_STATE,
		    s.PROD_ID,
		    p.PROD_NAME,
		    po1.OPT_NAME AS OPT_NAME1, po1.OPT_VALUE AS OPT_VALUE1,
		    po2.OPT_NAME AS OPT_NAME2, po2.OPT_VALUE AS OPT_VALUE2,
		    po3.OPT_NAME AS OPT_NAME3, po3.OPT_VALUE AS OPT_VALUE3,
		    po4.OPT_NAME AS OPT_NAME4, po4.OPT_VALUE AS OPT_VALUE4,
		    po5.OPT_NAME AS OPT_NAME5, po5.OPT_VALUE AS OPT_VALUE5
		FROM 
		    REVIEWS r
		JOIN 
		    ORDER_DETAIL od ON r.ORDERDETAIL_ID = od.ORDERDETAIL_ID
		JOIN 
		    ORDER_PROD o ON od.ORDER_ID = o.ORDER_ID
		JOIN 
		    SELLER_PROD_STOCK s ON od.STOCK_ID = s.STOCK_ID
		JOIN 
		    PROD p ON s.PROD_ID = p.PROD_ID
		LEFT JOIN 
		    PROD_OPTION po1 ON s.OPT_ID1 = po1.OPT_ID
		LEFT JOIN 
		    PROD_OPTION po2 ON s.OPT_ID2 = po2.OPT_ID
		LEFT JOIN 
		    PROD_OPTION po3 ON s.OPT_ID3 = po3.OPT_ID
		LEFT JOIN 
		    PROD_OPTION po4 ON s.OPT_ID4 = po4.OPT_ID
		LEFT JOIN 
		    PROD_OPTION po5 ON s.OPT_ID5 = po5.OPT_ID
		WHERE 
		    s.PROD_ID = '나이키 반팔_1234-1234'
		    AND o.ORDER_STATE = 'delievered'
		    AND s.REVIEW_ID IS NOT NULL
	</select>

	<select id="selectById" parameterType="int"
		resultType="reviewsVO">
		SELECT *
		FROM REVIEWS
		WHERE "review_id" = #{review_id}
	</select>

	<select id="selectAll" resultType="reviewsVO">
		SELECT *
		FROM REVIEWS
	</select>

	<insert id="reviewsInsert" parameterType="reviewsVO">
		INSERT
		INTO REVIEWS("review_id", "rate", "review_date", 
					 "review_img", "review_content", "orderdetail_id")
		VALUES(#{review_id}, #{rate}, #{review_date}, 
			   #{review_img}, #{review_content}, #{orderdetail_id})
	</insert>

	<update id="reviewsUpdate" parameterType="reviewsVO">
		UPDATE REVIEWS
		SET
		"rate" = #{rate}, "review_date" = #{review_date},
		"review_img" = #{review_img}, "review_content" = #{review_content},
		"orderdetail_id" = #{orderdetail_id}
		WHERE "review_id" = #{review_id}
	</update>

	<delete id="reviewsDelete" parameterType="int">
		DELETE
		FROM REVIEWS
		WHERE "review_id" = #{review_id}
	</delete>
	
</mapper>
