<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.seller_prod_stock">

	<!-- 상품ID로 판매 상품 옵션별 재고 조회 -->
	<select id="selectSpsOptionByProdId" parameterType="string"
		resultType="seller_prod_stockVO">
		SELECT 
			SPS.s_stock_id,
		    SPS.prod_id,
		    SPS.opt_id1,
		    SPS.opt_id2,
		    SPS.opt_id3,
		    SPS.opt_id4,
		    SPS.opt_id5,
		    SPS.stock
		FROM 
		    SELLER_PROD_STOCK SPS
		WHERE 
		    SPS.prod_id = #{prod_id}
	</select>

	<select id="selectByStockId" parameterType="int"
		resultType="seller_prod_stockVO">
		SELECT *
		FROM SELLER_PROD_STOCK 
		WHERE "stock_id" = #{stock_id}
	</select>
	
	<select id="selectByProdId" parameterType="int"
		resultType="seller_prod_stockVO">
		SELECT * 
		FROM SELLER_PROD_STOCK
		WHERE "prod_id" = #{prod_id}
	</select>

	<select id="selectAll" resultType="seller_prod_stockVO">
		SELECT *
		FROM SELLER_PROD_STOCK
	</select>

	<insert id="seller_prod_stockInsert" parameterType="seller_prod_stockVO">
		INSERT
		INTO SELLER_PROD_STOCK("stock_id", "s_p_stock", "s_p_sell", "prod_id", 
		"opt_id1", "opt_id2", "opt_id3", "opt_id4", "opt_id5", "review_id") 
		VALUES(#{stock_id}, #{s_p_stock}, #{s_p_sell}, #{prod_id}, #{opt_id1}, 
		#{opt_id2}, #{opt_id3}, #{opt_id4}, #{opt_id5}, #{review_id})
	</insert>

	<update id="seller_prod_stockUpdate" parameterType="seller_prod_stockVO">
		UPDATE SELLER_PROD_STOCK
		SET
		"s_p_stock" = #{s_p_stock}, "s_p_sell" = #{s_p_sell}, 
		"prod_id" = #{prod_id}, "opt_id1" = #{opt_id1}, 
		"opt_id2" = #{opt_id2}, "opt_id3" = #{opt_id3},
		"opt_id4" = #{opt_id4}, "opt_id5" = #{opt_id5},
		"review_id" = #{review_id}
		WHERE "stock_id" = #{stock_id}
	</update>

	<delete id="seller_prod_stockDelete" parameterType="int">
		DELETE
		FROM SELLER_PROD_STOCK
		WHERE "stock_id" = #{stock_id}
	</delete>
	
</mapper>
