<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.wish_list">

	<select id="selectByMemberIdAndProdId" parameterType="map"
		resultType="wish_listVO">		
		SELECT *
		FROM WISH_LIST
		WHERE "member_id" = #{member_id} and "prod_id" = #{prod_id}
	</select>
	
	<select id="selectByMemberId" parameterType="string"
		resultType="wish_listVO">
		SELECT * 
		FROM WISH_LIST 
		WHERE "member_id" = #{member_id}
	</select>

	<select id="selectByProdId" parameterType="int"
		resultType="wish_listVO">
		SELECT * 
		FROM WISH_LIST 
		WHERE "prod_id" = #{prod_id}
	</select>

	<select id="selectAll" parameterType="string" resultType="wish_listVO">
		SELECT DISTINCT w.member_id, w.prod_id, p.prod_name, p.prod_desc, p.prod_price, pi.img_id, po.opt_name, po.opt_value
	    FROM WISH_LIST w
	    JOIN PROD p ON w.prod_id = p.prod_id
	    LEFT JOIN PROD_IMAGE pi ON p.prod_id = pi.prod_id AND pi.img_type = '0'
	    LEFT JOIN PROD_OPTION po ON p.prod_id = po.prod_id
	    WHERE w.member_id = #{customerId}
	</select>

	<insert id="wish_listInsert" parameterType="wish_listVO">
		INSERT 
		INTO WISH_LIST("member_id", "prod_id", "email") 
		VALUES(#{member_id}, #{prod_id}, #{email})
	</insert>

	<update id="wish_listUpdate" parameterType="wish_listVO">
		UPDATE WISH_LIST
		SET
		"email" = #{email}
		WHERE "member_id" = #{member_id} and "prod_id" = #{prod_id}
	</update>

	<insert id="selectWish" parameterType="map">
		INSERT 
		INTO WISH_LIST (member_id, prod_id) 
		VALUES (#{member_id}, #{prod_id})
	</insert>
	<delete id="selectDelete" parameterType="map">
		DELETE FROM wish_list 
		WHERE member_id = #{member_id}
		AND prod_id = #{prod_id}
	</delete>
	
	<delete id="wishAllDelete" parameterType="string">
		DELETE FROM wish_list 
		WHERE member_id = #{member_id};
	</delete>
		
</mapper>
