body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

aside {
  width: 200px;
  background-color: #f8f8f8;
  padding: 20px;
}

aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

aside ul li {
  margin-bottom: 10px;
}

aside ul li a {
  text-decoration: none;
  color: #333;
}

section {
  flex-grow: 1;
  padding: 20px;
}

.user-info {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-info p {
  margin-right: 20px;
  font-size: 20px;
}

.product-list {
  margin-bottom: 40px;
}

.product-list h3 {
  margin-top: 0;
}

.product-list table {
  width: 100%;
  border-collapse: collapse;
}

.product-list table th,
.product-list table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-list .actions {
  margin-top: 10px;
  text-align: right;
}

.product-list .actions button {
  margin-left: 10px;
}

.notifications {
  margin-left: auto;
  padding: 20px;
  background-color: #fff;
}

.notifications .icon span {
  font-weight: bold;
}

.notifications .popup {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  width: 250px;
}

.notifications .popup p {
  margin: 0;
}

input {
  border: none;
  outline: none;
  text-align: center;
  font-size: 15px;
}

button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 4px;
}

.bell {
  width: 64x;
}

.bell_icon {
  width: 64px;
}

.notify_icon {
  display: flex;
}

span {
  top: 0;
  right: 0;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
}

.sellPrdList th{
	background-color: black;
	color:white;
}
