<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.rent">

	<!-- 대여상세 -->
	<select id="selectById" parameterType="string" resultType="com.team4.shoppingmall.rent.RentDTO">
		SELECT *
		FROM MEMBER
		WHERE "member_id" = #{member_id}
	</select>

	<!-- 대여목록 -->
	<select id="selectAll" resultType="com.team4.shoppingmall.rent.RentDTO">
		SELECT *
		FROM RENT
	</select>

	<!-- 대여하기 -->
	<insert id="memberInsert" parameterType="com.team4.shoppingmall.rent.RentDTO">
		INSERT
		INTO RENT("member_id", "member_pw", "member_name", "email", "phone",
					"brand", "birth_date", "last_access", "member_type", "gender")
		VALUES(#{member_id}, #{member_pw}, #{member_name}, #{email}, #{phone},
			   #{brand}, #{birth_date}, #{last_access}, #{member_type}, #{gender})
	</insert>

	<!-- 대여상태 수정 -->
	<update id="memberUpdate" parameterType="com.team4.shoppingmall.rent.RentDTO">
		UPDATE RENT
		SET
		"rent_state" = #{rent_state}
		WHERE "rental_code" = #{rental_code}
	</update> 
	
</mapper>
