<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.saren.wish_list">

	<select id="selectByMemberIdAndProdId" parameterType="map"
		resultType="wish_listVO">		
		SELECT *
		FROM WISH_LIST
		WHERE "member_id" = #{member_id} and "prod_id" = #{prod_id}
	</select>
	
	<select id="selectByMemberId" parameterType="string"
		resultType="wish_listVO">
		SELECT * 
		FROM WISH_LIST 
		WHERE "member_id" = #{member_id}
	</select>

	<select id="selectByProdId" parameterType="int"
		resultType="wish_listVO">
		SELECT * 
		FROM WISH_LIST 
		WHERE "prod_id" = #{prod_id}
	</select>

	<select id="selectAll" resultType="wish_listVO">
		SELECT *
		FROM WISH_LIST
	</select>

	<insert id="wish_listInsert" parameterType="wish_listVO">
		INSERT 
		INTO WISH_LIST("member_id", "prod_id", "email") 
		VALUES(#{member_id}, #{prod_id}, #{email})
	</insert>

	<update id="wish_listUpdate" parameterType="wish_listVO">
		UPDATE WISH_LIST
		SET
		"email" = #{email}
		WHERE "member_id" = #{member_id} and "prod_id" = #{prod_id}
	</update>

	<delete id="wish_listDelete" parameterType="map">
		DELETE
		FROM WISH_LIST
		WHERE "member_id" = #{member_id} and "prod_id" = #{prod_id}
	</delete>
	
</mapper>
