body {
    font-family: Arial, sans-serif;
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.login-container {
    background-color: #212529;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.login-container .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.login-container .btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.login-container .form-group label {
    float: left;
}

.login-container .form-group input {
    background-color: #495057;
    color: #fff;
    border: none;
}

.login-container .form-group input:focus {
    background-color: #495057;
    color: #fff;
    border: 1px solid #007bff;
}

.login-container .form-find {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.login-container .form-find a {
    color: #007bff;
    text-decoration: none;
}

.login-container .form-find a:hover {
    text-decoration: underline;
}
