<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

  <!-- 모든 요청과 응답의 인코딩을 UTF-8로 설정하기 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<display-name>AdminLoginChkFilter</display-name>
		<filter-name>AdminLoginChkFilter</filter-name>
		<filter-class>com.team4.shoppingmall.admin.AdminLoginChkFilter
		</filter-class>
  </filter>
	<filter-mapping>
		<filter-name>AdminLoginChkFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>

	<filter> 
 		<display-name>LoginFilter</display-name> 
 		<filter-name>LoginFilter</filter-name> 
 		<filter-class>com.team4.shoppingmall.filter.LoginFilter</filter-class> 
	</filter> 
 	<filter-mapping> 
 		<filter-name>LoginFilter</filter-name>
		<url-pattern>*.do</url-pattern> 
	</filter-mapping> 
	
    <!-- 특정 에러 코드에 대한 에러 페이지 설정 -->
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/views/error.jsp</location>
    </error-page>

    <!-- 모든 에러에 대한 기본 에러 페이지 설정 -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/views/error.jsp</location>
    </error-page>
</web-app>